<body>
<h1>WELCOME</h1>

  <section id="links">
    <h3>
    <%= "Manage your " %>
    <%= link_to "Clinicians", clinicians_path %>
    <br>
    <%= "Manage your " %>
    <%= link_to "Locations", locations_path %>
    </h3>
  </section>
</body>

